<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - System Zgłaszania Awarii</title>
    <link rel="stylesheet" href="~/css/bootstrap_colors.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/dt-1.13.1/datatables.min.css" />
    <link rel="stylesheet" href="~/SystemZglaszaniaAwariiGlowny.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">System Awarii</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Strona Główna</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">O Firmie</a>
                        </li>
                        
                         @{
                        if (User.IsInRole("admin")||User.IsInRole("mechanik")||User.IsInRole("pracownik"))
                            {
                              <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Zgloszenias" asp-action="Create">Zgłoś awarię</a>
                               </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-controller="Zgloszenias" asp-action="Index">Zgłoszenia</a>
                                </li>

                            }
                        }







                        @{
                        if (User.IsInRole("admin"))
                            {
                               
                                 <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light" href="#" role="button"data-bs-toggle="dropdown" aria-expanded="false"> Administracja</a>
                        
                            <ul class="dropdown-menu">
                                 
                                 <li class="nav-item">
                                    <a class="dropdown-item nav-link text-dark" asp-area=""asp-controller="Magazyns" asp-action="List">Magazyny</a>
                                 </li>

                                   <li class="nav-item">
                                    <a class="dropdown-item nav-link text-dark" asp-area=""asp-controller="Maszynas" asp-action="List">Maszyny</a>
                                 </li>

                                 <li class="nav-item">
                                    <a class="dropdown-item nav-link text-dark" asp-area=""asp-controller="Zgloszenias" asp-action="List">Zgłoszenia</a>
                                 </li>


                            </ul>
                                </li>
                            }
                        }
                        </li>

                        @{
                            if (User.IsInRole("pracownik") || User.IsInRole("mechanik"))
                            {

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Spis</a>

                                    <ul class="dropdown-menu">

                                        <li class="nav-item">
                                            <a class="dropdown-item nav-link text-dark" asp-area="" asp-controller="Magazyns" asp-action="Index">Magazyny</a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="dropdown-item nav-link text-dark" asp-area="" asp-controller="Maszynas" asp-action="Index">Maszyny</a>
                                        </li>
                                        @{
                                            if (User.IsInRole("mechanik"))
                                            {



                                                <li class="nav-item">
                                                    <a class="dropdown-item nav-link text-dark" asp-area="" asp-controller="Zgloszenias" asp-action="List">Lista zgłoszeń</a>
                                                </li>
                                            }
                                        }
                                    </ul>
                                </li>
                            }
                        }



                    
                    
                    
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
