@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>
<center><h1>Założyciele Firmy</h1></center>
<div id="pierwszy" class="card" style="width: 18rem;">
  <img class="card-img-top" src="/css/grafika/autor/1Postac.jpg" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Damian Krysiewicz - Jeden z trzech założycieli Firmy. </p>
  </div>
</div>

<div id="drugi" class="card" style="width: 18rem;">
  <img class="card-img-top" src="/css/grafika/autor/2Postac.jpg" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Kamil Racki - Główny inwestor firmy.</p>
  </div>
</div>

<div id="trzeci" class="card" style="width: 18rem;">
  <img class="card-img-top" src="/css/grafika/autor/3Postac.jpg" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">Mateusz Kaczmarczyk - Główny strateg firmy.</p>
  </div>
</div>
