@model SystemZglaszaniaAwariiGlowny.Models.Maszyna

@{
    ViewData["Title"] = "Dodawanie";
}

<h1 class="text-primary roboto">Dodaj</h1>

@{
    if (!String.IsNullOrEmpty(ViewBag.ErrorMessage))

{
        <div class="alert alert-danger" role="alert"> @ViewBag.ErrorMessage </div>

}
    }
<h4 class="text-success"><b>Maszyna</b></h4>
<hr />
<div class="row">
    <div class="col-md-4 interspace">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MaszynaName" class="control-label"></label>
                <input asp-for="MaszynaName" class="form-control" />
                <span asp-validation-for="MaszynaName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaszynaOpis" class="control-label"></label>
                <input asp-for="MaszynaOpis" class="form-control" />
                <span asp-validation-for="MaszynaOpis" class="text-danger"></span>
            </div>
           <div class="form-group">
                <label asp-for="Graphic" class="control-label"></label>
                <input type="file" name="picture" id="picture" class="form-control" 
                       accept=".jpg,.gif,.png" />
                <span asp-validation-for="Graphic" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Display" /> @Html.DisplayNameFor(model => model.Display)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Dodaj" class="btn btn-primary" id="maszynabtn" />
                <a asp-action="Index" class="btn btn-outline-light" id="maszynabtn">Powrót do listy</a>
            </div>
        </form>
    </div>
</div>

<div>
  
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

          